


.cabecera


.seccion
    .texto
        font-size: 16px
        .titulo
            text-align: center
            font-size: 32px
            font-weight: 600
        .subtitulo
            text-align: center
            font-size: 18px
            font-weight: 600

.introduccion


.manos_robot


.utiles_control


.maquinas_corte_montaje


.proveedores


