

.seccion
    padding: 30px 0 
    .texto
        font-size: 16px
        p:last-of-type
            margin: 0
        .titulo
            text-align: center
            font-size: 32px
            font-weight: 600
        .subtitulo
            text-align: center
            font-size: 18px
            font-weight: 600

.cabecera
    padding-top: 60px


.introduccion


.manos_robot


.utiles_control


.maquinas_corte_montaje


.proveedores


