footer
    color: #fff
    .pie_de_pagina
        padding: 30px 0
        p
            margin: 0
        .f_eyp
            padding-bottom: 20px
            text-align: center
            b
                font-size: 16px
        .f_datos
            .f_dato
                text-align: center
                padding-bottom: 20px