.seccion
    padding: 30px 0 
    .texto
        font-size: 14px
        &.vertical
            @media (min-width: 768px)
                position: absolute
                width: calc(100% - 30px)
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
        p:last-of-type
            margin: 0
        .titulo
            text-align: center
            font-size: 28px
            font-weight: 600
            margin-bottom: 30px !important
        .subtitulo
            text-align: center
            font-size: 16px
            font-weight: 600
    
    //.owl-carousel
    //    .owl-stage-outer
    //        .owl-item
    //            height: 260px
    //            img
    //               width: auto
    //               height: auto
    //               max-width: 100%
    //               max-height: 100%
    //               object-fit: contain
    //               position: absolute
    //               border-radius: 10px
    //               top: 50%
    //               left: 50%
    //               transform: translate(-50%, -50%)
    .imagen
        height: 260px
        img
            width: auto
            height: auto
            max-width: 100%
            max-height: 100%
            object-fit: contain
            position: absolute
            border-radius: 10px
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.cabecera
    padding: 100px 0
    background-color: #fafafa
    .subtitulo
        font-weight: 400 !important
        font-size: 17px !important
    .contenedor_boton
        text-align: center
        margin-top: 30px
        .b_contacto
            padding: 10px 20px
            background-color: #3d4153
            color: #fff
            text-decoration: none
            font-size: 18px
            border-radius: 20px

.proyectos, .urbanismo, .simulacion, .diseno
    text-align: center !important

.clientes
    padding: 60px 0
    .cliente
        position: relative
        height: 100px
        margin-bottom: 10px
        img
            max-width: 80%
            max-height: 80%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)